{% extends 'index.html' %}

{% block title %}<title>Kingpin Bowling Tracker - View Bowler</title>{% endblock %}

{% block page_content %}
<div class="container-fluid">
    <div class="row">
    <div class="col-md-12">
<header>      
  <h2 class="form-head mb-3"> {{ profile.get_name }} in {{ league.name }}</h2> 
</header>

<ul class="breadcrumb">
   <li class="breadcrumb-item font-weight-bolder"><a href="{% url 'view-center-league-by-name' league.bowling_center.name league.name %}"><i class="fas fa-arrow-left" title="Back to Leagues"></i></a></li>      
   <li class="breadcrumb-item active font-weight-bolder">View Bowler</li>
</ul> 
        
<button id="link_bowler" class="btn btn-secondary mb-4">Track Bowler</button>        

<h4 class="form-head mb-3">Legaue Highs</h4>        
<div class="table-responsive">
<table class="table table-striped table-bordered table-hover">
    	<thead class="table-danger">
        <tr class="text-center font-weight-bolder">
            <th> Games Bowled</th><th>High Scratch Game</th><th>High Handicap Game</th><th>High Scratch Series</th><th>High Handicap Series</th><th>Total Scratch Pins</th><th>Total Handicap Pins</th>
        </tr>
    </thead>
    <tbody class="table-info">
        <tr class="text-center font-weight-bolder">
           <td>{{bowler.games_bowled}}</td><td>{{bowler.league_high_scratch_game}}</td><td>{{bowler.league_high_handicap_game}}</td><td>{{bowler.league_high_scratch_series}}</td><td>{{bowler.league_high_handicap_series}}</td><td>{{bowler.league_total_scratch}}</td><td>{{bowler.league_total_handicap}}</td>
        </tr>
    </tbody>
</table>
</div>
        
 <br>       
   
<div class="row" style="margin: 0; padding: 0">
    <div class="col-md-6 offset-md-3" style="background-color:rgba(255,255,255,255);">
        <canvas id="myChart"></canvas>
    </div>
</div>
        
<br>
        
<h4 class="form-head mb-3"> League History</h4>        
<div class="table-responsive">
<table class="table table-striped table-bordered table-hover">
    <thead class="table-danger">
        <tr class="text-center font-weight-bolder">
            <th>Week #</th> <th> Date</th> <th> App Average</th> <th> HDCP</th> <th> G1</th> <th> G2</th> <th> G3</th> <th> Scratch</th> <th> HDCP</th><th> Series Average</th>
        </tr>
    </thead>
    <tbody class="table-info">
        {% for game in game_history %}
        <tr class="text-center font-weight-bolder">
        <td> {{ game.week_number }}</td> <td> {{ game.series_date }}</td> <td> {{ game.applied_average }}</td> <td> {{ game.applied_handicap }} </td> <td> {{ game.game_one_score }} </td> <td>{{ game.game_two_score }} </td> <td> {{ game.game_three_score }} </td> <td> {{ game.scratch_score }} </td> <td> {{ game.handicap_score }} </td> <td> {{ game.series_average }} </td>
        </tr>
        {% endfor %}
    
    </tbody>
    </table>
</div>
        
</div>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
var ctxL = document.getElementById("myChart").getContext('2d');
  
var data = {"xAxisLabels": {% autoescape off %} {{ num_weeks }} {% endautoescape%} , "datasets":  
    [
        {
            label: "Series Average",
            data:  {{ series_data }} ,
            backgroundColor: ['rgba(0, 137, 132, .2)'],
            borderColor: ['rgba(0, 10, 130, .7)'],
            borderWidth: 2
        },
         {
            label: "League Average",
            data:  {{ averages_data }} ,
            backgroundColor: ['rgba(0, 137, 132, .2)'],
            borderColor: ['rgba(130, 10, 0, .7)'],
            borderWidth: 2
        },
    ]
}

var myLineChart = new Chart(ctxL, {
    type: 'line',
    data: {
        labels: data['xAxisLabels'],
        datasets: data['datasets']
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        },   
        responsive: true
    }
});
</script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<script>
$(document).ready(function() {
    $("#link_bowler").click(function(){
        $.confirm({
            title: 'Track Bowler',
            content: 'Add this bowler to your tracked list?',
            buttons: {
                confirm: function (e) {
                    $.ajax({
                        type : 'POST',
                        url : "{% url 'ajax-link-user' %}",
                        data : { 'csrfmiddlewaretoken' : '{{ csrf_token }}',
                                'type' : 'bowler',
                                'lb_id' : '{{ bowler.id }}',
                                'username' : '{{ request.user.username }}',
                               },
                               
                        success : function (response) {
                            $.alert('Success!')
                            console.log(response)
                        },
                        error: function(response) {
                            $.alert('Failed')
                        }
                });
                },
                cancel: function () {
                    $.alert('Canceled!');
                },
        
            }
        });
    });
});
</script>
{% endblock %}