{% extends 'index.html' %} {% load static %}

{% block title %}<title>Kingpin Bowling Tracker - Bowling Center Locations</title>{% endblock %}

{% block page_content %}
<div class="container-fluid">
    <div class="row">
    <div class="col-md-12">
     <header>
	   <h2 class="form-head">Center Locations</h2>
     </header>        
        <div role="region">   
        <div class="my-3" id="map" role="application" aria-label="Interactive Map" tabIndex="0"></div>
        </div>    
        </div>
        </div>
        </div>
  <!-- Google Maps -->
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaRw18zPOLk-b3WAzaEWWNtmT0-OGsJBw&callback=initMap"
  type="text/javascript"></script>
  <!-- map.js -->     
  <script src="{% static 'js/map.js' %}"></script>
{% endblock %}