{% extends 'index.html' %}

{% block title %}<title>Kingpin Bowling Tracker - Update League Secretary</title>{% endblock %}

{% block page_content %}
<div class="container-fluid">  
<div class="row"> 
<div class="col-md-12">
<p class=" lead text-white">Select the KPBT Username of this League's Secretary.</p>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    
    <button type ="submit" class="btn btn-univ">Update League Secretary</button>
</form>
</div>
</div>
</div>
{% endblock %}