{% extends 'index.html' %} {% load static %}

{% block title %}<title>Kingpin Bowling Tracker - About</title>{% endblock %}

{% block page_content%}
<div class="container-fluid">  
<div class="row"> 
<div class="col-md-12">
<header>  
  <h1 class="text-white" id="about-head">FAQs on KPBT</h1>
</header>      
<p class="text-lt-blue lead">Question &#35;1 Is KPBT free to use?</p>
<p class="text-Special lead">Ans: Yes, Kingpin Bowling Tracker is free to use.</p>
<p class="text-lt-blue  lead">Question &#35;2 Bowling Terminology</p>
<p class="text-Special lead">Ans: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>    
  </div> 
  </div> 
  </div>  
{% endblock %}